{% extends "base.tpl" %}
{% block header %}
{% endblock %}
{% block content %}

{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if not justsignedup %}
Use the form below to login, or <a href="{% url create-account %}">sign up</a> if you don't have an account. If you just signed up, please log in with the login/password you just created.
{% endif %}
{% if justsignedup %}
Thanks for signing up! Please login with the login/password you just created and you'll be set.
{% endif %}

<form method="post" action=".">
<table>
<tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
